/* Цвет основного текста #212121 */
/* Цвет строчного текста #757575 */
/* Белый #FFFFFF */
/* Полу-белый rgba(255, 255, 255, 0.6) */
/* Голубой #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondory-white-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
li {
  list-style-type: none;
  /* display: inline-block; */
}
/* li {
  display: block;
} */
.nav-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-secondary {
  color: var(--title-text-color);
}
/* .nav-logo:hover,
.nav-logo:focus {
  color: var(--accent-color);
} */
.nav-link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.activ {
  color: var(--accent-color);
}
.address-header {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}
.address-header:hover,
.address-header:focus {
  color: var(--accent-color);
}
.hero {
  background: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
}
.feature-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.section-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-name {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-profession {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.footer-section {
  background: #2f303a;
}
.footer-logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-logo-secondary {
  color: var(--primary-white-color);
}
/* .footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
} */
.address-text {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address-footer {
  color: var(--secondory-white-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}
.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}
.footer-title,
.portfolio-title {
  opacity: 0;
  /* display: none; */
}
.filter-button {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}
.unit-link {
  text-decoration: none;
}
.unit-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.unit-text {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
